# OS & Log Files
*.log
.DS_Store
Thumbs.db

# Environment Files
.env
.env.backup
.env.production

# PHP & IDE Cache
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Node & Composer Dependencies
/node_modules
/vendor

# Laravel Specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Misc
npm-debug.log
yarn-error.log

# Optional (if you don’t want to push tests)
/tests
